<div class="project-search-wrap">
		<nav class="user-project-selection">
			<ul>
				<li>
					<%= link_to "Edit Profile", user_registration_path, method: :patch  %></li><li>
					<a href="/users/show">My profile</a></li><li>
					<a href="/users/messages">Messages</a></li><li>
					<a href="/projects/new">Create project</a></li><li>
					<a href="/projects/index">All projects</a></li><li>
			</ul>
		</nav>
</div>