<div class="table-projects">
	
	<% @projects.each do |project| %>
		<div class="one-project">
			<div class="project-img">
				<%= link_to "/projects/#{project.id}" do %>
					<%= image_tag('project' + ((project.id%3)+1).to_s + '.png') %>
				<% end %>
			</div>
			<div class="project-name">
				<h4><%= project.name %></h4><span id="triangle-bottomleft"></span>
			</div>
		  
		</div>
	<% end %>

</div>
<section class="separator-u"></section>
<div class="paginate">
	<%= will_paginate @projects %>
</div>



