<div class="project-search-wrap">
		<nav class="user-project-selection">
			<ul>
				<li>
					<a href="/projects/new">New Project</a>
				</li>
				<li>
					<a href="/projects/index">Created</a>
				</li>
				<li>
					<a href="/projects/index_participating">Participating</a>
				</li>
				<li>
					<a href="/projects/index_participating">Applied</a>
				</li>
				<li>
					<a href="/projects/index_all">All</a>
				</li>
			</ul>
		</nav>
</div>