<section class="project-search-wrap">
	<form class="search-form">
		<input class="search-txt" type="text" name="search" placeholder="Search..">
	</form>
</section>

<section class="projects-wrap">

<%= render :partial => "projects/eachProjects" %>

</section>
	