<h1>Projects#index_participating</h1>
<p>Find me in app/views/projects/index_participating.html.erb</p>


<!--Los proyectos en que participas, no eres Admin -->
<hr>

<section class="projects-wrap">

<%= render :partial => "projects/eachProjects" %>

</section>
  