<footer>
      <p>Follow us</p>
      <ul class="social-links">
        <li class="gplus">
          <i class="fa fa-google-plus" aria-hidden="true"></i>
        </li>
        <li class="twitter">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </li>
        <li class="linkedin">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </li>
        <li class="facebook">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </li>
        <li class="youtube">
          <i class="fa fa-youtube" aria-hidden="true"></i>
        </li>
      </ul>
      <p>© 2016 - Rocío Sara </p>
    </footer>