<section class="banner-coding">
	<a href="">Partial</a>
	<div class="banner-wrapper">
		<div class="coding-description">
			<article>
				<h2>Coding</h2>
				<p>Here you can look for coders that can help you make your designs come true. Search the perfect team for the perfect project.</p>
			</article>
	</div>
	<div class="coding-img">
		<%= image_tag("coding.png") %>
	</div>
</section>

<section class="banner-share">
	<div class="banner-wrapper">

		<div class="banner-description-share">
			<article>
				<h2>Share your ideas</h2>
				<p>Think your project is too small, too complicated, or just too strange? 
Here you can share your ideas and work as a team.</p>
			</article>
	</div>
	<div class="banner-img-share">
		<%= image_tag("share.png") %>
	</div>

</section>

<section class="banner-design">
	<div class="banner-wrapper">
		<div class="coding-description">
			<article>
				<h2>Coding</h2>
				<p>Here you can look for coders that can help you make your designs come true. Search the perfect team for the perfect project.</p>
			</article>
	</div>
	<div class="coding-img">
		<%= image_tag("design.png") %>
	</div>
</section>





