<p>This is the Home page</p>

<section class="center">
	<div class="row">
	<div class="col col-4">
		<h1>Logo</h1>
		<div>jkhdkjgkjdsa</div>
		<h2>hello hjakdsf jhsja hgfa</h2>
	</div>
	<div class="col col-1"></div>
	<div class="col col-1"></div>
	<div class="col col-1"></div>
	<div class="col col-1"></div>
	<div class="col col-1"></div>
	<div class="col col-1"></div>
	<div class="col col-1"></div>
	<div class="col col-1"></div>
</div>
</section>



