
<section class="h-projects">
	<div class="h-wrapper">
		<div class="slogan">
			<div class="t-slogan">
				<h2><span>Learn, Create &</span> Do</h2>
		  </div>
		</div>
	</div>
</section>

<section class="phrases">
  <div class="h-wrapper">
  	<h3>Work with someone perfect for your team</h3>
  </div>
</section>

<!--Share-->
<section class="h-share">
	<div class="h-wrapper">

		<div class=" description share-description">
			<article>
				<h3>Share your ideas</h3>
				<p> You can gather a team of people, who share the same vision as you do, with the skills needed for the creation of your projects.</p>
			</article>
	</div>
	<div class="banner-img-share">
		<%= image_tag("share.png") %>
	</div>

</section>

<!---->
<section class="phrases">
  <div class="h-wrapper">
  	<h3>Work with someone perfect for your team</h3>
  </div>
</section>
<!---->

<!--Coding-->
<section class="h-coding">
	<div class="h-wrapper">
		<div class="description coding-description">
			<article>
				<h3>Code</h3>
				<p> Search by the skills needed for the creation of your projects.</p>
			</article>
	</div>
	<div class="coding-img">
		<%= image_tag("coding.png") %>
	</div>
</section>

<section class="phrases">
  <div class="h-wrapper">
    <h3>Work with someone perfect for your team</h3>
  </div>
</section>

<!--Design-->
<section class="h-design">
	<div class="h-wrapper">
		<div class="description design-description">
			<article>
				<h3>Design</h3>
				<p>Look for coders that can help you make your designs come true. Search the perfect team for the perfect project.</p>
			</article>
	</div>
	<div class="coding-img">
		<%= image_tag("design.png") %>
	</div>
</section>


