
<section class="banner-projects">
	<div class="banner-wrapper">
		<div class="lettering">
			<div class="lettering-right">
				<h2><span>Learn, Create &</span> Do</h2>
		  </div>
		</div>
	</div>
</section>

<section class="projects text-center b_share">
  <div class="banner-wrapper">
  	<h3>Work with someone perfect for your team</h3>
  </div>
</section>

<section class="banner-share">
	<div class="banner-wrapper">

		<div class="banner-description-share">
			<article>
				<h3>Share your ideas</h3>
				<p> You can gather a team of people, who share the same vision as you do, with the skills needed for the creation of your projects.</p>
			</article>
	</div>
	<div class="banner-img-share">
		<%= image_tag("share.png") %>
	</div>

</section>

<section class="projects text-center b_share">
  <div class="banner-wrapper">
  	<h3>Work with someone perfect for your team</h3>
  </div>
</section>

<section class="banner-coding">
	<div class="banner-wrapper">
		<div class="coding-description">
			<article>
				<h3>Coding</h3>
				<p>Here you can look for coders that can help you make your designs come true. Search the perfect team for the perfect project.</p>
			</article>
	</div>
	<div class="coding-img">
		<%= image_tag("coding.png") %>
	</div>
</section>

<section class="projects text-center">
  <div class="banner-wrapper">
    <h3>Work with someone perfect for your team</h3>
  </div>
</section>

<section class="banner-design">
	<div class="banner-wrapper">
		<div class="coding-description">
			<article>
				<h3>Coding</h3>
				<p>Here you can look for coders that can help you make your designs come true. Search the perfect team for the perfect project.</p>
			</article>
	</div>
	<div class="coding-img">
		<%= image_tag("design.png") %>
	</div>
</section>
