::-moz-selection { background: yellow; }
::selection { background: yellow; }
/*Error message*/
.error {
  position: absolute;
  top: 520px;
  right:48%;
}
.error p{
  color: #fff;
  font-size: 1.2em;
  line-height: 3em; 
}
/*LOG IN*/
.body-session-new {
  background-color: #f57170;
  width:100%;
  height: 100%;
}
.body-registration-new {
  background-color: #15b7b9;
  width:100%;
  height: 100%;
}

.login {
  margin: 0 auto;
  width: 450px;
}
.heading-session-new {
  margin: 0 auto;
  width: 450px;
  height: 48px;
}

.login-heading {
  padding-top: 7em;
  font: 1.8em/48px sans-serif;
  color: white;
}

/*pink*/
.input-txt {
  width: 100%;
  padding: 20px 10px;
  background: #f57170;
  border: none;
  font-size: 1em;
  color: white;
  border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
.input-txt:-moz-placeholder {
  color: #FF8F8E;
}
.input-txt:-ms-input-placeholder {
  color: #FF8F8E;
}
.input-txt::-webkit-input-placeholder {
  color: #FF8F8E;
}
.input-txt:focus {
  background-color: #B55453;
  outline-color: #FF908E;
}
/*blue*/
.input-txt-blue {
  width: 100%;
  padding: 20px 10px;
  background: #15b7b9;
  border: none;
  font-size: 1em;
  color: white;
  border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
.input-txt-blue:-moz-placeholder {
  color: #0F8586;
}
.input-txt-blue:-ms-input-placeholder {
  color: #0F8586;
}
.input-txt-blue::-webkit-input-placeholder {
  color: #0F8586;
}
.input-txt-blue:focus {
  background-color: #0C6C6C;
  outline-color: #40999A;
}

/**/
.login-footer {
  margin: 10px 0;
  overflow: hidden;
  width: 100%;
}
.btn {
  padding: 15px 30px;
  border: none;
  background: white;
  font-size: .8em;
  line-height: 1.6em;
}
.btn-pink {
  color: #f57170;
}
.btn-blue {
  color: #15b7b9;
}
.btn--left {
  float: left;
}
.btn--right {
  float: right;
}

.icon {
  display: inline-block;
  font-size: .8em;
  line-height: 3em;
  color: white;
}

/* SIGN UP*/



