// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//-----------------  Style view show  --------------
.project-search-wrap {
    width: 100%;
    height: 60px;
    background-color: #15B7B9;  
}
.search-form {
	line-height: 60px;
}
.search-txt:-moz-placeholder {
  color: #15B7B9;
}
.search-txt:-ms-input-placeholder {
  color: #15B7B9;
}
.search-txt::-webkit-input-placeholder {
  color: #15B7B9;
}



