// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Banner*/
section {
  width: 100%;
}

.h-wrapper {
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
}

.h-projects {
  height: 65%;
  background: url('computer.png') no-repeat top;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*Lettering in banner*/
.slogan {
  display: table;
  width: 100%;
  height: 100%;
}

.t-slogan {
  display: table-cell;
  vertical-align: middle;
  text-align: center; 
}

.slogan h2 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  text-shadow: 1px 1px 0 rgba(0,0,0,.54);
  font-weight: bold;
}

.slogan h2 span {
  color: #15b7b9;
}

/*Phrases section*/

.phrases {
    background: #fff;
    border-bottom: 1px solid  rgba(0, 26, 44, 0.1);
    text-align: center;
}

.phrases h3 {
    color: #5a5050;  
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    padding: 2em;
}

/**/

.h-coding {
  background: #f57170;
}
.h-design {
  background: #10ddc2;  
}

article {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.coding-img {
  float: right;
  width:50%; 
}

.coding-img img,
.banner-img-share img {
  width: 100%;
}

.banner-img-share {
  float: left;
  width:50%; 
}

/**/
.description {
  display: table;
  height: 348px;
  width:50%;
}
.share-description,
.coding-description {
  float: right;
}

.design-description {
  float: left;
}

.share-description h3,
.share-description p {
  color: #808080;
}

.coding-description h3,
.coding-description p,
.design-description h3,
.design-description p {
  color: #fff;
}

.coding-description h3,
.share-description h3,
.design-description h3 {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 1em;
  font-size: 2em;
}

.coding-description p,
.share-description p,
.design-description p {
  width: 400px;
  margin-left: 6em;
}









