// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Menu users*/
.user-wrap {
  width: 100%;
  height: 60px;
  background: #15B7B9;
  margin-bottom: 3em;
}

.p-menu {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.p-menu ul li{
		float: right;
    line-height: 59px;
}

.p-menu li {
    border-right: 1px dotted #10ddc2;
}

.border-l {
    border-left: 1px dotted #10ddc2;
}

.p-menu a{
	  color: #fff;
	  font-size: 1em;
}

.p-menu a:hover{
	  color: #10ddc2;
}


/**/
.p-wraper {
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
}

/*image profile*/
.user-img{
  height: 150px;
  width: 150px;
}

.user-img img{
  width: 100%;
  height: 100%;
  border-radius:100%;
  border: 3px solid #7d7d7d; 
}


