// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**/
.p-wraper {
  height: 100%;
  margin: 0 auto;
  max-width: 900px;
  overflow: hidden;
}
.p-edit { //section to fix footer
  height:100%;
}

.p-container {
  margin-top: 24px;
  margin-bottom: 24px;
  overflow: hidden;
}

.p-left {
  float: left;
  width: 25%;
}

.p-right {
  background: #fff;
  width: 75%;
  float: left;

}
/*Sidenav*/
.sidenav li{
  margin-bottom: 0.4em;
}

.p-active {
  color: red;
}
.sidenav li a:active,
.sidenav li a:hover{
  color: #15B7B9;
}

.sidenav li a {
  font-size: 16px;
  color: #7d7d7d;
}
.sidenav li {
  color: #7d7d7d;
}
/*Button Show Profile*/
.btn-block {
    display: block;
    white-space: normal;
    width: 60%;
}

.p-btn {
    background: white;
    border: 1.5px solid #7d7d7d;
    color: #7d7d7d;
    font-size: 14px;
    line-height: 1.6em;
    margin-top: 1.5em;
    padding: 7px 21px;
    text-align: center;
}

.p-btn:hover {
  color: #15B7B9;
}
/*Messages*/
h1.message-txt {
  font-size: 40px;
    line-height: 100px;
  text-align: center;
}
/*form*/

.p-form {
  border: 1px solid #dce0e0;
}

.form-header {
    color: #484848;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #dce0e0;
    background-color: #edefed;
}

.form-header p{
  margin-left: 1em;
}

.p-body {
  padding: 20px;
  overflow: hidden;
}

.f-row {
    margin-bottom: 24px;
    margin-left: -6px;
    margin-right: -6px;
}
.f-row label{
  display: block;
  padding-top: 9px;
  padding-bottom: 8px;
  margin-right: 8px;
  font-size: 0.8em;
}

.f-row input {
  display: block;
  padding: 8px 10px;
  outline-color: #15b7b9;
    
}


.f-row:after {
    clear: both;
}

.f-row:before, .f-row:after {
    content: " ";
    display: table;
}

.col-label {
  width: 20%;
  float: left;
  text-align: right;
}
.col-txt {
  width: 75%;
  float: left; 
}

.col-sub {
  float: right;
}

.btn-profile {
  background: #15b7b9;
  border: 1px solid #15b7b9;
  font-size: .6em;
  outline: none;
}

.btn-sub-size {
  width: 150px;
}

.btn-sub {
  color: #fff; 
}

.btn-size {
  width:506px;
}


.btn-red {
  background:#E32057;
  border: 1px solid #E32057;
  font-size: .6em;
  outline: none;
  width:506px;
  color: #fff;
}

.col-size {
  margin-left: -6px;
  margin-right: -6px;
}
.col-skill {
  float: right;
  margin-right: 8px;
}
.added-skills li{
    float: left;
    font-size: .6em;
    margin-left: 16px;
    margin-bottom: 16px;
    text-align: center;
    background: #15b7b9;
    color: #fff;
    padding:0.8em;

}

/*error_explanation*/
#error_explanation h2, 
#error_explanation li{
  text-align: center;
  font-size: 0.8em;
  color: #7d7d7d;
}

#error_explanation h2 {
  color: #E32057;
}

/*Profile User**********************/
.separator-u {
    width: 100%;
    height: 40px; 
}
.sidenav-u {
  background: #fff;
  margin-right: 1em;
  padding: 1em;
  border-radius: 2px;
  border: 1px solid #dce0e0;
}
.sidenav-u:hover {
  box-shadow: 0 0 0 1px rgba(0,0,0,.1),0 2px 3px rgba(0,0,0,.2);
  transition: box-shadow 83ms;
}

/*image profile*/
.user-img {
  height: 150px;
  width: 150px;
}

.user-img img {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
}
/*Button*/
.btn-margin {
   margin-left: 0.9em;
} 
/*Sidenav*/
.sidenav-u li{
  margin-bottom: 0.4em;
  margin-left: 2.4em;
  margin-top: 1em;
  font-size: 1.4em;
  color: #5a5050;
}

.sidenav-u li a:active,
.sidenav-u li a:hover{
  color: #15B7B9;
}

.sidenav-u li a {
  font-size: 16px;
  color: #7d7d7d;
}
.sidenav-u li {
  text-transform: capitalize;
  color: #7d7d7d;
}

/*Profile*/
.u-form {
  border: 1px solid #dce0e0;
}
.u-form-header {
    background-color: #edefed;
    border-bottom: 1px solid #dce0e0;
    color: #484848;
    font-size: 1em;
    padding-top: 12px;
    padding-bottom: 12px;
}

.u-form-header p {
    margin-left: 1.1em;
    display: inline-block;
}

.u-btn {
    display: inline-block;
    background: white;
    border: 1.5px solid #7d7d7d;
    color: #7d7d7d;
    font-size: 0.6em;
    line-height: 0.6em;
    padding: 7px 21px;
    text-align: center;
    margin-left: 61em;
}

.u-btn:hover{
  color: #15B7B9;
}

.u-body {
    padding: 20px;
    overflow: hidden;
    background: #fff;
}
.u-body p {
  font-size: 0.8em;
}
.u-left {
  float: left;
  width: 25%;
}
.u-right {
  float: right;
  width: 75%;
}

hr {
  border-top: 0px solid #dce0e0;
  border-bottom: 1px solid #dce0e0;
  margin-bottom: 1em;
}

.u-header {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 1em;
}
.general {
  margin-bottom: 2em;
}
.general span {
  margin-right: 5em;
}

.u-skill {
    float: left;
    text-align: center;
    background: #15b7b9;
    color: #fff;
    padding: 0.4em;
    font-size: 0.4em;
}

.btn-u {
    background: white;
    border: 1.5px solid #7d7d7d;
    color: #7d7d7d;
    font-size: 0.6em;
    line-height: 0.9em;
    padding: 7px 21px;
    text-align: center;
}

.skills-u {
  float: left;
  width:25%;
  margin-bottom: 0.9em;
}

/*Messages*/
.m-right {
    width: 75%;
    float: left;
}
.module {
  width: 630px;
  margin: 0 auto;
}

.top-bar {
  background-color: #0F8586;
  color: white;
  position: relative;
  overflow: hidden;

  h1 {
  display: inline;
  font-size: 1.1rem;
}
.typicons-message {
display: inline-block;
padding: 4px 5px 2px 5px;
}
.typicons-minus {
position: relative;
top: 3px;
}
.left {
float: left;
}
.right {
float: right;
padding-top: 5px;
}
> * {
position: relative; 
}
&::before {
content: "";
position: absolute;
top: -100%;
left: 0;
right: 0;
bottom: -100%;
opacity: 0.25;
}
}

.discussion {
  list-style: none;
  background: #e5e5e5;
  margin: 0;
  padding: 0 0 50px 0; 
  li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
  }
  .avatar {
    width: 40px; 

    position: relative; 
    img {
      display: block; // triangle 
      width: 100%;
    }
  }
}

.other {
  .avatar {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-left-color: transparent;
      border-bottom-color: transparent;
    }
  }
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
  .messages {
    order: 1;
    border-bottom-right-radius: 0; 
  }
  .avatar {
    order: 2;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-right-color: transparent;
      border-top-color: transparent;
      box-shadow: 1px 1px 2px rgba(black, 0.2); 
    }
  }
}

.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(black, 0.2);
  p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
  }
  time {
    font-size: 0.7rem;
    color: #ccc;
  }
}

