// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*image profile*/
.user-img{
  height: 150px;
  width: 150px;
}

.user-img img{
  width: 100%;
  height: 100%;
  border-radius:100%;
  border: 3px solid #7d7d7d; 
}
/**/
.p-wraper {
  height: 100%;
  margin: 0 auto;
  max-width: 900px;
  overflow: hidden;
}
.p-edit { //section to fix footer
  height:100%;
}

.p-container {
  margin-top: 24px;
  margin-bottom: 24px;
  overflow: hidden;
}

.p-left {
  float: left;
  width: 25%;
}

.p-right {
  background: #fff;
  width: 75%;
  float: left;

}
/*Sidenav*/
.sidenav li{
  margin-bottom: 0.4em;
}

.sidenav li a:active,
.sidenav li a:hover{
  color: #15B7B9;
}

.sidenav li a {
  font-size: 16px;
  color: #7d7d7d;
}
/*Button Show Profile*/
.btn-block {
    display: block;
    white-space: normal;
    width: 60%;
}

.p-btn {
    background: white;
    border: 1.5px solid #7d7d7d;
    color: #7d7d7d;
    font-size: 14px;
    line-height: 1.6em;
    margin-top: 1.5em;
    padding: 7px 21px;
    text-align: center;
}

.p-btn:hover {
  color: #15B7B9;
}
/*Messages*/
h1.message-txt {
  font-size: 40px;
    line-height: 100px;
  text-align: center;
}
/*form*/

.p-form {
      border: 1px solid #dce0e0;
}

.form-header {
    color: #484848;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #dce0e0;
    background-color: #edefed;
}

.form-header p{
  margin-left: 1em;
}
.p-body {
  padding: 20px;
  overflow: hidden;
}

.f-row {
    margin-bottom: 24px;
    margin-left: -6px;
    margin-right: -6px;
}

.f-row:after {
    clear: both;
}

.f-row:before, .f-row:after {
    content: " ";
    display: table;
}

.col-label {
  width: 20%;
  float: left;
  text-align: right;
}
.col-txt {
  width: 75%;
  float: left; 
}
.col-size {
  margin-left: -6px;
  margin-right: -6px;
}
.col-skill {
  float: right;
  margin-right: 17px;
}
.added-skills li{
    text-align: center;
    float: left;
    margin-left: 16px;
}


// .f-row input::-webkit-input-placeholder {
  
// }
